// Override default variables before the import
$theme-colors: (
    'primary': #f7a9a0
);

#button {
    color: white;
    background-color: #f7a9a0;
    border: none;
}

#signup {
    width: 45%;
    padding-right: 100px;
    padding-bottom: 100px;
}

#form {
    padding-left: 100px;
    padding-top: 40px;
}

#signin-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
}

#profile-logo {
    width: 170px;
    padding-top: 20px;
    padding-left: 30px;
}

#profile-text {
    font-size: 30px;
    padding-left: 50px;
    padding-top: 30px;
}

#profile-body {
    font-size: 20px;
    padding-left: 30px;
    padding-top: 10px;
}

#prof-btn {
    border-color: white;
    background-color: #f7a9a0;
    color: white;
}

#bold {
    font-weight: bold;
}

#col {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;

}

#row2{
    display: flex;
    flex-direction: row;
}

#flex-end {
    padding-left: 500px;
    padding-top: 30px;
}

#nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(221, 223, 237);
}

#nav-text {
    color: #507391;
    font-size: 20px;
    padding-top:15px;

}

#welcome-search {
    width: 300px;
}

#squeegee-logo {
    width: 60px;
}

#search-logo {
    width: 100px;
}

#user-logo {
    width: 40px;
    align-content: right;
}

#home-logo {
    width: 100px;
    padding-right: 20px;
}


.home {
    padding-left: 30px;
    padding-top: 30px;
}

#row {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 40px;
    color: rgba(0, 0, 0, 0.705);
}

#column {
    display: flex;
    flex-direction: column;
}

#search-bar {
    display: flex;
    flex-direction: row;
}

#welc-btn {
    border-color: white;
    background-color: #f7a9a0;
    color: white;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#dropdown-basic {
    border-color: white;
    background-color: #68aeae;
}

#welcome-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #bcbdc01f;
    height: 100vh;
    color: rgba(0, 0, 0, 0.705);
}

#welcome-logo {
    width: 200px;
    padding-top: 10vh;
    // display: block;
    // margin: auto;
}

#signup-button {
    color: white;
    background-color: #f7a9a0;
    border: none;
    margin-right: 30px;
}

#signin-button {
    color: white;
    background-color: #f7a9a0;
    border: none;
    margin-left: 30px;
}

#submit-button {
    margin-bottom: 20px;
    color: white;
    background-color: #f7a9a0;
    border: none;
}

#guest {
    color: #f7a9a0
}

#search-item {
    display: flex;
    flex-direction: row;
    background-color: #bcbdc01f;
    margin: 10px;
}

#search-results {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    color: rgba(0, 0, 0, 0.705);
}

#search-img {
    width: 150px;
}

#search-text {
    padding-left: 30px;
    padding-top: 20px;
}

#job-link a {
    color: "#6A8EAE"
}

#company-page {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
    color: rgba(0, 0, 0, 0.705);

}

#review {
    background-color: #bcbdc01f;
    border: 2px solid #bcbdc054;
    margin-bottom: 20px;
    margin-right: 50px;
}

#review2 {
    display: flex;
    flex-direction: row;
}

#review-link {
    background-color: #bcbdc04f;
    display: flex;
    flex-direction: row;
    justify-content: space-between
}

#review-link:hover {
    background-color: #bcbdc01f;
}

#arrow {
    width: 15px;
    margin-left: 30px;
    margin-bottom: 4px;
}

#more {
    background-color: #bcbdc04f;
    border: 3px solid #bcbdc002;
}

#card {
    margin-left: 90px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 50px;
    display:flex;
    align-items: center;
}

#footer {
    width: 100%;
}

#card img {
    width: 70%;
}

.details {
    margin-left: 80px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.details input {
    margin-left: 15px;
}

.details button {
    margin-top: 30px;
    border-color: white;
    background-color: #f7a9a0;
    color: white;
}

#drop {
    display: flex;

}

#navlink {
    color: #6A8EAE
}

#text {
    color: rgba(0, 0, 0, 0.705);
}

#textarea
{
  width:60%;
  box-sizing:border-box;
  
}


// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';