// Override default variables before the import
$theme-colors: (
    'primary': purple
);

#nav-bar {
    display: flex;
    justify-content: center;
    background-color:#CCD0E8;
}

#welcome-search {
    width: 300px;
}

#nav-logo {
    width:4%;
    align-content: right;
}

#welc-btn {
    border-color: white;
    background-color: #f7a9a0;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';